---
---

$background-color: #aaa;
$foreground-color: #fff;
$link-color: #117;
$body-font: 'League Mono', monospace;
$header-font: 'League Mono', monospace;

@font-face {
    font-family: 'League Mono';
    src: font-url('/css/LeagueMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: $background-color;
}
body {
    margin: 2em;
    border: 1px solid black;
    padding: 1em 0em;
    background-color: $foreground-color;
    font-family: $body-font;
    filter: drop-shadow(30px 10px 4px gray);
}

a, a:visited {
    text-decoration: none;
    color: $link-color;
    &:hover {
	text-decoration: underline;
    }
}
